@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-text: var(--text);
  --color-accent: var(--accent);
}

:root {
  --primary: oklch(21.1% 0.02 212.7);
  --secondary: oklch(48.891% 0.13562 141.525);
  --tertiary: oklch(52.945% 0.0492 27.467);
  --text: oklch(86.8% 0.039 147.6);
  --accent: oklch(59.17% 0.1871 143.865);
}

[data-theme="light"] {
  --primary: oklch(92.9% 0.016 32);
  --secondary: oklch(54.2% 0.051 51.2);
  --tertiary: oklch(67.361% 0.04124 206.585);
  --text: oklch(30% 0.051 329.7);
  --accent: oklch(64.862% 0.115 140.84);
}

[data-theme="dark"] {
  --primary: oklch(21.1% 0.02 212.7);
  --secondary: oklch(48.891% 0.13562 141.525);
  --tertiary: oklch(52.945% 0.0492 27.467);
  --text: oklch(86.8% 0.039 147.6);
  --accent: oklch(57.468% 0.12016 321.513);
}
